@import "../variables.scss";

@mixin lg-media-query($font-size, $line-height, $letter-spacing) {
  @media (max-width: $lg-breakpoint) {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
  }
}
@mixin md-media-query($font-size, $line-height, $letter-spacing) {
  @media (max-width: $md-breakpoint) {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
  }
}
.headline {
  font-size: 5.6rem;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  @include lg-media-query(4.8rem, 1.08349, -0.002em);
  @include md-media-query(3.2rem, 1.125, 0.004em);
}

.subhead {
  font-size: 2.8rem;
  line-height: 1.14286;
  font-weight: 400;
  letter-spacing: 0.007em;
  @include lg-media-query(2.4rem, 1.16667, 0.009em);
  @include md-media-query(1.9rem, 1.21053, 0.012em);
}

.body {
  font-size: 1.9rem;
  line-height: 1.4211026316;
  font-weight: 400;
  letter-spacing: 0.012em;
  @include lg-media-query(1.7rem, 1.4705882353, -0.022em);
}
.caption {
  font-size: 1.7rem;
  line-height: 1.2353641176;
  font-weight: 400;
  letter-spacing: -0.022em;
  @include lg-media-query(1.4rem, 1.2857742857, -0.016em);
}
