$sm-breakpoint: 640px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1440px;

$transition: cubic-bezier(0.4, 0, 0.6, 1);
$nav-transition: cubic-bezier(0, 0, 0.5, 1);
$bg-dark: #282a35;
