@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-delay-0 {
    animation-delay: 0s;
  }
  .animate-delay-75 {
    animation-delay: 75ms;
  }
  .animate-delay-100 {
    animation-delay: 100ms;
  }
  .animate-delay-150 {
    animation-delay: 150ms;
  }
  .animate-delay-200 {
    animation-delay: 200ms;
  }
  .animate-delay-300 {
    animation-delay: 300ms;
  }
  .animate-delay-400 {
    animation-delay: 400ms;
  }
  .animate-delay-500 {
    animation-delay: 500ms;
  }
  .animate-delay-700 {
    animation-delay: 700ms;
  }
  .animate-delay-1000 {
    animation-delay: 1000ms;
  }
}

@layer components {
  #nav-dock {
    position: fixed;
    display: flex;
    transition:
      opacity,
      transform 0.2s $transition;
    justify-content: center;

    ul {
      li:hover + li {
        & > div {
          width: 5.5rem;
          height: 5.5rem;
          margin-top: -0.5rem;
        }
      }
      li:has(+ li:hover) {
        & > div {
          width: 5.5rem;
          height: 5.5rem;
          margin-top: -0.5rem;
        }
      }
    }
  }
}
html,
body {
  font-size: 0.625rem;
}

* {
  backface-visibility: hidden;
}

::selection {
  color: #f1f5f9;
  background-color: #646687;
}
