@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 0.625rem;
  color: $text-color;
}

section[data-section-theme="light"] {
  background-color: $light-background;
  color: #1d1d1f;
}

section[data-section-theme="dark"] {
  background-color: $dark-background;
  color: #f5f5f7;
}

.main {
  padding-top: $nav-height;
}

* {
  backface-visibility: hidden;
}
