@import "./variables.scss";
@import "./mixins.scss";

@mixin lg-media-query() {
  @media (max-width: $lg-breakpoint) {
    padding-top: 6rem;
  }
}
@mixin md-media-query() {
  @media (max-width: $md-breakpoint) {
    padding-top: 4.1rem;
  }
}
.section {
  padding-top: 5.5rem;
  @include lg-media-query();
  @include md-media-query();
  text-align: center;
  @include col(5rem);
}
