@import "variables";

@mixin sibiling-hover {
  width: 5.5rem;
  height: 5.5rem;
  margin-top: -0.5rem;
}

#nav-dock {
  position: fixed;
  display: flex;
  transition:
    opacity,
    transform 0.2s $transition;
  justify-content: center;

  ul {
    li:hover + li {
      & > div {
        @include sibiling-hover();
      }
    }
    li:has(+ li:hover) {
      & > div {
        @include sibiling-hover();
      }
    }
  }
}
