@import "./mixins.scss";
@import "./variables.scss";

@mixin divider($placement, $size: "sm") {
  position: absolute;
  content: "";
  display: block;
  border-right: 1px solid #b4b4b4;
  left: 50%;
  transform: translateX(-50%);
  @if ($placement == "top") {
    bottom: calc(100% + 0.75rem);
  } @else {
    top: calc(100% + 0.75rem);
  }
  @if ($size == "sm") {
    height: 1.5rem;
  } @else {
    height: 5rem;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes transform {
  from {
    transform: translateY(250px);
  }
  to {
    transform: translateY(0);
  }
}
.links {
  @include col(3rem);
  position: fixed;
  left: 3rem;
  bottom: 3rem;
  transform: translateY(250px);
  animation-name: opacity, transform;
  animation-duration: 0.8s, 0.5s;
  animation-timing-function: $transition;
  animation-fill-mode: forwards, forwards;
}

.download,
.github,
.linkedin {
  position: relative;
}

.download {
  &::before {
    @include divider("top", "lg");
  }
}

.github {
  &::before {
    @include divider("top");
  }
  &::after {
    @include divider("bottom");
  }
}
.linkedin {
  &::after {
    @include divider("bottom");
  }
}

.container {
  aspect-ratio: 595 / 842;
  height: calc(100svh - 6rem);
  animation-name: opacity;
  animation-duration: 0.8s;
  animation-timing-function: $transition;
  animation-fill-mode: forwards;
  font-family: Arial, Helvetica, sans-serif;

  & > * {
    line-height: 1.167;
  }
  a {
    color: #0047ff;
    text-decoration: underline;
  }
}
