@import "./mixins.scss";
@import "./variables.scss";

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.container {
  height: 70svh;
  width: 50svw;
  border-radius: 0.6rem;
  background: $bg-dark;
  border: 1px solid #5f5f5f;
  @include col();
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
}
.header {
  background: #383838;
  border-radius: 0.6rem 0.6rem 0 0;
  height: 2.6rem;
  border-bottom: 1px solid black;
  padding: 0 0.6rem;
  display: flex;
  align-items: center;
  position: relative;
}

.btn {
  @include size(1.4rem);
  border-radius: 50%;
}

.text {
  display: inline;
  width: fit-content;
  word-break: break-all;
  line-height: normal;
  border-right: 0.8rem solid transparent;
  font-size: 1.6rem;
  color: white;
  &.with-cursor {
    animation: blink-caret 0.75s step-end infinite;
  }
}

.input-wrap {
  @include row(0.7rem);
  width: 100%;
  font-size: 1.6rem;

  .input {
    outline: 0;
    background-color: transparent;
    color: white;
    font-weight: 700;
    flex: 1;
    word-wrap: break-word;
    word-break: break-all;
  }
}

.command-line-prefix,
.history-prefix {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #76c4fa;
}

.history {
  @include row(0.7rem);

  &-text {
    font-size: 1.6rem;
    color: white;
  }
  &-result {
    font-size: 1.6rem;
    line-height: normal;
    white-space: pre-wrap;
    color: white;
    line-height: 2.4rem;
  }
}
