$nav-color: rgba(0, 0, 0, 0.8);
$text-color: #1d1d1f;
$light-background: #f5f5fc;
$dark-background: black;
$link-color: #0071e3;

$nav-height: 4.4rem;
$lg-breakpoint: 1068px;
$md-breakpoint: 734px;

$transition: cubic-bezier(0.4, 0, 0.6, 1);
